* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 20px;
}
div {
    color: #484848;
    font-size: 80px;
    font-family: 'Lato', sans-serif;
    animation: lighting 1.5s linear infinite;
}


.buchstabe1 {
    animation-name: lighting;
    animation-delay: 0s;
}
.buchstabe2 {
    animation-name: lighting;
    animation-delay: 0.15s;
}
.buchstabe3 {
    animation-name: lighting;
    animation-delay: 0.3s;
}
.buchstabe4 {
    animation-name: lighting;
    animation-delay: 0.45s;
}
.buchstabe5{
    animation-name: lighting;
    animation-delay: 0.60s;
}
.buchstabe6 {
    padding-left: 20px;
    animation-name: lighting;
    animation-delay: 0.75s;
}
.buchstabe7 {
    animation-name: lighting;
    animation-delay: 0.90s;
}
.buchstabe8 {
    animation-name: lighting;
    animation-delay: 1.05s;
}
.buchstabe9 {
    animation-name: lighting;
    animation-delay: 1.2s;
}
.buchstabe10 {
    animation-name: lighting;
    animation-delay: 1.35s;
}

@keyframes lighting {
    0% {
        color: #484848;
        text-shadow: none;
    }
    85% {
        color: #484848;  
        text-shadow: none; 
    }
    100% {
        color: #fff900; 
        text-shadow: 
            2px 2px 20px #ff6c00,
            -2px -2px 20px #ff6c00;
    }
}